.CoinContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.coin_show {
  background-color: #0000000e;
  display: flex;
  justify-content: center;
  width: 250px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 30px;
  color: var(--highlight);

  transition: 0.5s ease-out;
}
.coin_show:hover {
  filter: invert(1);
}
