:root {
  --background: #242629;
  --paragraph: #94a1b2;
  --headline: #fffffe;
  --link: #7f5af0;
  --card: #16161a;
  --highlight: #8dc735;
}
.App {
  overflow-x: hidden;
}
header {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--card);
  max-height: 52px;
  display: flex;
  position: relative;
  align-items: center;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
}

.slider {
  padding: 10px;
}

.header-gutters {
  padding-left: 16px;
  padding-right: 16px;
}

.header-logo {
  max-height: 52px;
  padding-right: 5px;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.coin {
  background-color: var(--card);
  display: flex;
  align-items: center;
  width: 250px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: var(--highlight);
}

.currentPrice {
  display: none;
  color: #fff;
  font-size: 0.6em;
}

.chartLabel {
  padding-left: 10px;
}
.chartOffset {
  margin-top: -40px;
  padding-bottom: 10px;
}

.chart img {
  width: 32px;
}

@media screen and (min-width: 620px) {
  body {
    font-size: 16px;
  }
  .coin {
    width: 500px;
    justify-content: center;
    font-size: 30px;
  }
  .currentPrice {
    display: block;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}
