:root {
  --background: #242629;
  --paragraph: #94a1b2;
  --headline: #fffffe;
  --link: #7f5af0;
  --card: #16161a;
}
header {
  background-color: var(--card);
  max-height: 52px;
  display: flex;
  position: relative;
  align-items: center;
  color: #fff;
  font-size: 1em;
}

.header-gutters {
  padding-left: 16px;
  padding-right: 16px;
}

.header-logo {
  max-height: 52px;
  padding-right: 5px;
}

@media screen and (min-width: 620px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}
