@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root {
  --background: #16161a;
  --paragraph: #94a1b2;
  --headline: #fffffe;
  --link: #7f5af0;
  --card: #16161a;
}

body {
  background: repeating-radial-gradient(#2e332d, #222229);
  color: var(--paragraph);
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  height: 100vh;
}
html {
  overflow-x: hidden;
}

/*Resetting*/
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
li {
  /* list-style-type: none; */
}
/*Resetting*/
